<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h5 class="pull-right"><%= current_user.name %> | <%= link_to "Logout", session_path(id: current_user.id), method: :delete %></h5>
  <h2>Hacker News</h2>
  <% cache(@news) do %>
  <div class="list-group">
    <% @news.each do |news|%>
      <% cache(news) do%>
    <div id="news_content<%= news.id%>">
      <h4 class="list-group-item-heading" id="news_title<%= news.id%>"><%= link_to("#{news.title}", news.url)%> 
      (<%= link_to(news.hacker_url, "https://news.ycombinator.com/from?site=#{news.hacker_url}", :target => "_blank") %>)</h4>
      <p class="list-group-item-text"><%= news.posted_on %> | <%= news.upvotes%> | <%= news.comments%> | <%= viewers_count(news) %> viewers | <span class="delete-news" id="delete<%= news.id%>">Delete</span></p>
    </div>
    <p></p>
    <%end%>
    <%end%>    
  </div>
  <%= will_paginate%>
  <%end%>
</div>

</body>
</html>
<script type="text/javascript">
  $(document).on('turbolinks:load',function(){
    $('.delete-news').click(function(event){
      var Id = event.target.id.split("delete")[1]
      $.ajax({
          type: 'POST',
          url: "/news/"+Id+".json",
          dataType: "JSON",
          data:{
            news_id: Id,
            user_id: '<%= current_user.id%>',
            "_method":"delete"
          },
          success: function(result){
            if (result.status == true){
              $('#news_content'+Id).hide();
            }
          }
        });    
    });
    $('.list-group-item-heading').click(function(event){
      var Id = this.id.split("news_title")[1]
      $.ajax({
          type: 'POST',
          url: "/news/update_viewer.json",
          dataType: "JSON",
          data:{
            news_id: Id,
            user_id: '<%= current_user.id%>'
          },
          success: function(result){
            if (result.status == true){
              // alert('success');
            }
          }
        });    
    });
  });
</script>